/node_modules
/public/hot
/public/storage
/public/.htaccess
/storage/*.key
/vendor
.idea
/.vscode
.env.backup
.editorconfig
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/public/ZendServer
/temp
.env
catetan sdm
/public/uploads/
/public/img/
